@import "./mixins.scss";

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .maincontent {
    display: flex;
    flex-grow: 1;
    padding: 16px;
    color: #808080;
    font-weight: 500;
  }
}
